* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  text-align: center;
  background-color: #f0ffff;
}

.component-view {
  width: 80vw;
  margin: 0 auto;
}

.card {
  padding: 2% 5% 5% 5%
}

.card-title {
  padding-top: 5%
}

.card-information {
  text-align: left;
}

.card-image {
  padding: 5%;
}
